@import url("https://fonts.googleapis.com/css?family=Montserrat:500");


html {
    --font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: purple;
    background-color: gold;
    font-size: var(--font-size);
    font-family: "Monoserrat", sans-serif;
}

/* Start of Navigation */

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

nav a {
    margin: auto 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 10px;
}


a {
    text-decoration: none;
    color: black;
}

/* End of Navigation */