html {
    --font-size: 30px;
}

* {
    font-size: var(--font-size);
}

/* Start of Navigation */

nav {
    margin: 0 auto;
    width: fit-content;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    flex-direction: column;
    /* margin-left: auto; */
}

a {
    text-decoration: none;
    color: black;
}

/* End of Navigation */