html {
    --font-size: 20px;   
}


body {
    line-height: 1.7;
    font-size: var(--font-size);
    color: purple;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.temp-left {
    position: fixed;
    bottom: 0;
    width: 40px;
    padding-left: 10px;
}

.temp-left ul{
    left: 10px;
    display: flex;
    flex-direction: column;
}

/* Start of Navigation */

nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, .9);
}

nav a {
    margin: auto 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 10px;
}


a {
    text-decoration: none;
    color: black;
}

/* End of Navigation */

/* Start of Cover Page */

.cover-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-content h1{
    font-size: clamp(40px, 8vw, 80px);
}


/* About me */


/* Projects */

.project-item {
    display: flex;
}

.project-tools ul {
    list-style-type: none;
    display: inline;
}

.project-tools li {
    padding-left: 10px;
    display: inline;
}

.project-tools p {
    display: inline;
}

.reverse {
    flex-direction: row-reverse;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    
}