@import url("https://fonts.googleapis.com/css?family=Montserrat:500");


html {
    --font-size: 20px;
   
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: purple;
    background-color: gold;
    font-size: var(--font-size);
    font-family: "Monoserrat", sans-serif;
}

.content {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

.temp-left {
    position: fixed;
    bottom: 0;
    width: 40px;
    padding-left: 10px;
}

.temp-left ul{
    left: 10px;
    display: flex;
    flex-direction: column;
}

/* Start of Navigation */

nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav a {
    margin: auto 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 10px;
}


a {
    text-decoration: none;
    color: black;
}

/* End of Navigation */

/* Start of Cover Page */

.cover-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-content h1{
    font-size: clamp(40px, 8vw, 80px);
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    
}